.overlay-image {
    position: fixed;
    top: 30px;
    left: 30px;
    background-color: red;
    z-index: 9999; /* Increase z-index to ensure the image appears above other content */
    pointer-events: none;
    width: 200px;
    height: auto;
}
